<div class='partial body'>
    <p class="partial-title">Orders Summary</p>
    <div class="order-table">
        <div class="order-row">
        <p class="order-item item-min">ORDER</p>
        <p class="order-item item-min">TOTAL</p>
        <p class="order-item">NAME</p>
        <p class="order-item order-email">EMAIL</p>
        <p class="order-item">ADDRESS</p>
        <p class="order-item">PHONE</p>
        <p class="order-item">STATUS</p>        
    </div>
    {{#each orderList}}
    <div class="order-row">
        <p class="order-item item-min">{{this.order}}</p>
        <p class="order-item item-min">{{this.total}}</p>
        <p class="order-item">{{this.name}}</p>
        <p class="order-item">{{this.email}}</p>
        <p class="order-item">{{this.address}}</p>
        <p class="order-item">{{this.phone}}</p>
        {{!--Add Status Key--}}
        <p class="order-item">PENDING</p>
    </div>
    {{/each}}
    </div>
</div> 